<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477918184302-0ogstm8ogf1bem2c00tg2hmja061okog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477918184302-0ogstm8ogf1bem2c00tg2hmja061okog</string>
	<key>API_KEY</key>
	<string>AIzaSyAbbYsVM1uE1K5x8JUAmKgHXqj427RWUlU</string>
	<key>GCM_SENDER_ID</key>
	<string>477918184302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robin.Do</string>
	<key>PROJECT_ID</key>
	<string>beautyinclusive</string>
	<key>STORAGE_BUCKET</key>
	<string>beautyinclusive.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477918184302:ios:9879343ddd2abf2f88b77f</string>
</dict>
</plist>